<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Technology</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><%=@project.name%></td>
    <td><%=@project.technology%></td>
    </tr>
  </tbody>
</table>    