<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Patient Name</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td><%=@patient.patient_name%></td>
    <td><%=@patient.city%></td>
    </tr>
  </tbody>
</table>    